
body{
  background-image: url(pexels-suzy-hazelwood-1629236.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.float{
  float: right;
}



/* responsive css for small screens */
@media screen and (max-width: 576px) {
  
  /* responsive css for about me page */
  .main-abt{
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #photo,
  #abt-me {
    width: 100%;
  }

  #abt-me {
    margin-top: 40px;
  }

  /* navbar css makes buttons smaller */
  .nav-btn {
      font-size: smaller;
  }


}