body{
    background-image: url(./Assets/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#me{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    
}

#navimg{
    border-radius: 15%;
}